<h3>Edit person: {{currentMen.firstName}} {{currentMen.lastName}}</h3>
<hr>
<form name="updateForm" ng-submit="updateMen()" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Age*</label>
                <input type="number" class="form-control" name="age" ng-min="1" ng-max="199" ng-model="currentMen.age" required>
            	<div ng-show="updateForm.age.$error.required" class="error">Age is required</div>
            	<div ng-show="updateForm.age.$error.min" class="error">Age should be more than 0</div>
            	<div ng-show="updateForm.age.$error.max" class="error">Unfortunately 199 years is our current system limit. 
            		<br>Please contact Laws of Nature in case of questions. :)</div>
            </div>
            <div class="form-group">
                <label for="">Street</label>
                <input type="text" class="form-control" ng-model="currentMen.address.streetAddress">
            </div>
            <div class="form-group">
                <label for="">City*</label>
                <input type="text" class="form-control" name="city" ng-model="currentMen.address.city" required ng-minlength="3" ng-maxlength="50">
            	<div ng-show="updateForm.city.$error.required" class="error">City is required</div>
            	<div ng-show="updateForm.city.$error.minlength" class="error">City name should be more than 2 characters</div>
            	<div ng-show="updateForm.city.$error.maxlength" class="error">City name should be less than 50 characters</div>
            </div>
            <div class="form-group">
                <label for="">State</label>
                <input type="text" class="form-control" ng-model="currentMen.address.state">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Postal Code</label>
                <input type="text" class="form-control" ng-model="currentMen.address.postalCode">
            </div>
            <div class="form-group">
                <label for="">Home Number*</label>
                <input type="text" class="form-control" name="hNumber" ng-model="currentMen.phoneNumber[0].number" required ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/">
            	<div ng-show="updateForm.hNumber.$error.required" class="error">City is required</div>
            	<div ng-hide="updateForm.hNumber.$valid" class="error">Please enter correct Phone(10 digits)</div>
            </div>
            <div class="form-group">
                <label for="">Fax Number*</label>
                <input type="text" class="form-control" name="fNumber" ng-model="currentMen.phoneNumber[1].number" required ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/">
            	<div ng-show="updateForm.fNumber.$error.required" class="error">City is required</div>
            	<div ng-hide="updateForm.fNumber.$valid" class="error">Please enter correct Phone(10 digits)</div>
            </div>
        </div>
    </div>
    <hr>
    <div style="text-align:right">
        <a type="button" href="#/" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary" ng-class="{'disabled': !updateForm.$dirty}">Update</button>
   	    <div ng-show="updateForm.$invalid && showValidationMessage" class="error">Please correct errors in the form above.</div>
    </div>
</form>
